@model UrlShortener.Models.Links

<div class="text-center">
    <form method="post" asp-action="Shortener">
        <input asp-for="LongUrl" id="url"/>
        <button type="submit">Create link</button>
    </form>
</div>
