body {
    background-color: #4287f5;
}

#input1 {
    margin: auto;
    width: 70%;
    text-align: center;
}
#input2 {
    width: 30%;
    margin:auto;
    text-align: center;
}

#button {
    width: 20%;
    margin-top: 3%;
    margin-left: 40%;
}

p {
    display: inline-block;
    color: white;
    font-size: x-large;
    margin-top: 1%;
}

#copyButton {
    display: inline-block;
    width: 10%
}

#show {
    text-align: center;
    margin: auto;
}

h1 {
    width: 30%;
    margin-left: 35%;
    margin-top: 10%;
    color: white;
    text-align: center;
}